# Ignore build artefacts in 'build' directory
build/

# Ignore 'lib' directory
lib/

# Ignore temporary files created by Google Test Framework in 'Testing' directory
Testing/

# Ignore VS Code config files in '.vscode' directory
.vscode/

# Ignore binaries
*.out
*.exe
main
app

# Ignore third-parties in 'external' directory in the root of the project
/external/*

# except of CMakeLists.txt file
!/external/CMakeLists.txt

#Ignore googletest
googletest
/external/googletest/

# Ignore unnecessary CMake, Make, clangd and conan stuff
.cache/
CMakeFiles/
CMakeCache.txt
DartConfiguration.tcl

*.cmake
!/cmake/UpdateSubmodules.cmake
Makefile
compile_commands.json
